[Desktop Entry]
Name=1666: Amsterdam (Prologue)
Comment=Play this game on Steam
Exec=steam steam://rungameid/4519690
Icon=steam_icon_4519690
Terminal=false
Type=Application
Categories=Game;
