[Desktop Entry]
Version=1.0
Name=1Password
Comment=1Password
Exec=1password
Icon=/opt/1Password/resources/icons/hicolor/64x64/apps/1password.png
Terminal=false
Type=Application
Categories=Application;
