#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pomofocus
Exec=/opt/brave.com/brave-nightly/brave-browser-nightly --profile-directory=Default --app-id=glhjejmflhdjpaimbkdnhfpbbgdgjkoh
Icon=brave-glhjejmflhdjpaimbkdnhfpbbgdgjkoh-Default
StartupWMClass=crx_glhjejmflhdjpaimbkdnhfpbbgdgjkoh
