[Desktop Entry]
Name=Path of Exile 2
Comment=LOGIN
Exec=flatpak run com.valvesoftware.Steam steam://rungameid/2694490
Icon=steam
Terminal=false
Type=Application
Categories=Game;

