[Desktop Entry]
Name=Mochi
Comment=Flashcards, an Anki alternative
Exec=/home/adamtajti/Apps/Mochi-1.21.11.AppImage
Icon=none
Terminal=false
Type=Application
Categories=Application;


