[Desktop Entry]
Name=Path of Exile 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/2694490
Icon=steam_icon_2694490
Terminal=false
Type=Application
Categories=Game;
