[Desktop Entry]
Name=Yakuza: Like a Dragon
Comment=Play this game on Steam
Exec=steam steam://rungameid/1235140
Icon=steam
Terminal=false
Type=Application
Categories=Game;
