files/.config/shell/tulip.sh filter=git-crypt diff=git-crypt
files/.config/shell/tulip-zsh-hooks.sh filter=git-crypt diff=git-crypt
files/.neomutt/profile.personal filter=git-crypt diff=git-crypt
files/.neomutt/profile.tulip filter=git-crypt diff=git-crypt
files/.python_history filter=git-crypt diff=git-crypt
files/.local/bin/t-* filter=git-crypt diff=git-crypt
files/.local/bin/password filter=git-crypt diff=git-crypt
files/.local/snippets/**/*tulip*.lua filter=git-crypt diff=git-crypt
files/.config/keepassxc/**/* filter=git-crypt diff=git-crypt
files/.config/nix/netrc filter=git-crypt diff=git-crypt
files/.config/qutebrowser/bookmarks/urls filter=git-crypt diff=git-crypt
files/.config/qutebrowser/quickmarks filter=git-crypt diff=git-crypt
files/.config/nvim/lua/plugins/lazy/deus.nvim/lua/deus/tulip.lua filter=git-crypt diff=git-crypt
files/.config/sway/**/* filter=git-crypt diff=git-crypt
files/hetzner/**/* filter=git-crypt diff=git-crypt
scripts/**/*tulip*.sh filter=git-crypt diff=git-crypt
