[Desktop Entry]
Type=Application
Name=Dropbox
Comment=Dropbox daemon (pretends to be GUI-less)
Icon=dropbox
Categories=Network;
Exec=dropbox
TryExec=dropbox
