# Extcap configuration file for Wireshark 4.6.4.
#
# This file is regenerated each time preferences are saved within
# Wireshark. Making manual changes should be safe, however.
# Preferences that have been commented out have not been
# changed from their default value.

####### Extcap Utilities ########

# Save arguments on start of capture
# true or false (case-insensitive)
#extcap.gui_save_on_start: TRUE

# Max bytes in a packet
# A string
#extcap.randpkt.maxbytes: 5000

# Number of packets
# A string
#extcap.randpkt.count: 1000

# Packet delay (ms)
# A string
#extcap.randpkt.delay: 0

# Random type
# A string
#extcap.randpkt.randomtype: false

# All random packets
# A string
#extcap.randpkt.allrandom: false

# Type of packet
# A string
#extcap.randpkt.type: 

# Set the log level
# A string
#extcap.randpkt.loglevel: 

# Use a file for logging
# A string
#extcap.randpkt.logfile: 

# Listen port
# A string
#extcap.udpdump.port: 5555

# Payload type
# A string
#extcap.udpdump.payload: data

# Set the log level
# A string
#extcap.udpdump.loglevel: 

# Use a file for logging
# A string
#extcap.udpdump.logfile: 
